rtlc -partition_module_xrtl CPU_tb_dpi
rtlc -partition_module_xrtl AluCtrlSig_pkg
rtlc -partition_module_xrtl alu
rtlc -partition_module_xrtl alu_control
rtlc -partition_module_xrtl control
rtlc -partition_module_xrtl checker
rtlc -partition_module_xrtl checker_interface
rtlc -partition_module_xrtl cpu
rtlc -partition_module_xrtl regm
rtlc -partition_module_xrtl regr
rtlc -partition_module_xrtl dm
rtlc -partition_module_xrtl im
rtlc -partition_module_xrtl CPU_tb_dpi

comp -hvl c
comp -top CPU_tb_dpi
comp -platform D1S
comp -num_boards 1

hvl -cfiles TBX_Mode_Testing/testbench.cxx
